.card{
    width:100%;
    margin-bottom: 2.2rem;
}

.card img{
    width:70%;
}

.card h3{
    margin-bottom: 1.6rem;
}

.card a{
    cursor: pointer;
    padding: .6rem 1.8rem;
    border:2px solid grey;
    border-radius: 8px;
}